---
import Layout from "../layouts/Layout.astro";
import aboutMeImage from "../images/pngs/about-me-img.png";
import grandex from "../images/pngs/grandex.png";
import florence from "../images/pngs/florence.png";
import tllm from "../images/pngs/tllm.png";
import abcFoundation from "../images/pngs/abc-foundation.png";
import akdLifestyle from "../images/pngs/akd-lifestyle.png";

const companies = [
    {
        name: "Grandex Nigeria Ltd",
        img: grandex,
        role: "Managing Director",
    },
    {
        name: "Florence H Luxury",
        img: florence,
        role: "Managing Director",
    },
    {
        name: "The Luxury Lifestyle Market (TLLM)",
        img: tllm,
        role: "Founder",
    },
    {
        name: "ABC Foundation",
        img: abcFoundation,
        role: "Patron Ibadan",
    },
    {
        name: "AKD Lifestyle",
        img: akdLifestyle,
        role: "Founder",
    },
];
---

<Layout title="Abisola | About Me">
    <main>
        <section>
            <div class="banner-wrapper">
                <h1>About Me</h1>
            </div>
            <div class="container">
                <div class="about-me_texts">
                    <div class="img">
                        <img
                            src={aboutMeImage}
                            alt="woman holding a glass of drink"
                        />
                    </div>
                    <div class="texts">
                        <p>
                            Abisola Kola-Daisi is a highly successful
                            Nigerian-Lebanese entrepreneur known for her
                            contributions to the luxury retail industry and
                            philanthropic endeavors. As the Managing Director of
                            Grandex Nigeria Ltd, a renowned retail and wholesale
                            chain specializing in Nigeria's heritage fast-moving
                            consumer goods (FMCGs) since 1984, she has played a
                            significant role in the growth and development of
                            the company. In addition, Abisola is the founder and
                            CEO of Florence H Luxury, a leading luxury retail
                            fashion brand in Nigeria. Her keen business acumen
                            and passion for fashion have driven her success and
                            positioned her as a prominent figure in the
                            industry.
                        </p>
                        <p>
                            Abisola's work experience has spanned the banking,
                            oil and gas and shipping sectors. Her
                            entrepreneurial journey began in 2008 when she
                            worked as the General Manager of Finance and
                            Administration at Saje Shipping, a subsidiary of MRS
                            Oil Nigeria Plc, before transitioning into the world
                            of fashion in 2012. It was then that she founded
                            Florence H Luxury, a multi-brand luxury boutique
                            that quickly gained recognition as one of Nigeria's
                            foremost luxury retail brands. The success of
                            Florence H Luxury propelled Abisola to the forefront
                            of the Nigerian fashion scene.
                        </p>
                        <p>
                            In 2018, Abisola assumed the role of CEO at Grandex
                            Stores, a major supermarket chain in Nigeria
                            specializing in fast-moving consumer goods and
                            general merchandise. Her strategic leadership and
                            business expertise have played a pivotal role in
                            expanding the company's reach and enhancing its
                            brand reputation.
                        </p>
                    </div>
                </div>
                <p>
                    As a true entrepreneur, Abisola has diversified her ventures
                    beyond fashion and retail. She founded 'AKD Lifestyle,' a
                    luxury lifestyle consultancy aimed at providing exceptional
                    experiences and services to clients. Additionally, she
                    established 'The Luxury Lifestyle Market' (TLLM), a seasonal
                    luxury-focused exhibition that showcases and redefines the
                    concept of luxury in Africa. Through TLLM, Abisola aims to
                    promote and support African brands, particularly in the
                    fashion and luxury goods sectors.
                </p>
                <p>
                    Abisola's philanthropic endeavors are a testament to her
                    compassionate nature and commitment to making a positive
                    impact on society. She founded the AKD Kids Foundation, a
                    charitable organization dedicated to supporting orphans and
                    displaced children in Nigeria. As a devoted advocate for
                    children's welfare, Abisola strives to improve the lives of
                    these vulnerable individuals and provide them with better
                    opportunities for the future. Additionally, she serves as a
                    patron of the ABC Foundation in Ibadan, actively
                    participating in various charitable activities.
                </p>
                <p>
                    Abisola's achievements and influence have garnered
                    significant media attention. She has been featured in
                    prominent Nigerian newspapers such as The Guardian Nigeria,
                    Independent Newspaper, Octopus News, The Elites Nigeria, and
                    Herald.ng. Her expertise and fashion sense have also earned
                    her recognition in online magazines like Allure and Bella
                    Naija Style.
                </p>
                <p>
                    Beyond her professional accomplishments, Abisola is a sports
                    enthusiast who appreciates an active lifestyle. As a loving
                    wife to Kolapo Kola-Daisi and a devoted mother of three
                    children, she balances her personal and professional life
                    with grace and dedication.
                </p>
                <p>
                    Abisola Kola-Daisi's remarkable journey as a luxury retail
                    entrepreneur and philanthropist serves as an inspiration to
                    aspiring entrepreneurs and showcases the potential for
                    success through passion, hard work, and a commitment to
                    making a positive impact on society
                </p>
            </div>
        </section>
        <section>
            <div class="container">
                <h2>Companies</h2>
                <p>
                    Here are some of the businesses Abisola Kola-Daisi engages
                    in
                </p>
                <div class="companies-wrapper">
                    {
                        companies.map((company) => (
                            <div class="company">
                                <img
                                    src={company.img}
                                    alt={`${company.name} logo`}
                                />
                                <div>
                                    <h3>{company.name}</h3>
                                    <p>{company.role}</p>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>
        </section>
    </main>
</Layout>

<style>
    .banner-wrapper {
        background-image: url("../images/pngs/about-me-banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 312px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section:nth-child(2) {
        background-color: #338683;
        padding: 3rem 0 5rem;
    }

    h1 {
        font-family: "EB Garamond", sans-serif;
        font-size: clamp(30px, 5vw, 65px);
        padding: 0.5rem 4rem;
        line-height: 1.1;
        border: 3px solid #F37125;
        border-radius: 7px;
        text-shadow: 1px 1px 1px #9e9e9e;
        color: #636262;
    }

    h2 {
        color: #fff;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    h2::after {
        content: "";
        position: absolute;
        bottom: -3px;
        width: 70px;
        height: 3px;
        border-radius: 2px;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
    }

    h2 + p {
        color: #fff;
        text-align: center;
        margin-bottom: 3.5rem;
        font-weight: 500;
    }

    .about-me_texts {
        padding: 5rem 0 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    p {
        margin-bottom: 0.8rem;
    }

    .texts {
        width: 45%;
    }

    .img,
    .texts {
        margin: 0 auto;
    }

    .img {
        width: 50%;
        margin-bottom: 1.5rem;
    }

    .companies-wrapper {
        display: grid;
        grid-template-columns: repeat(5, minmax(288px, 22%));
        gap: 4rem;
        margin-top: 4rem;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    .company {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0.75rem;
        background: #fff;
        color: #2e2e22;
        overflow: hidden;
        text-align: center;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }

    .company img {
        padding: 1.5rem;
    }

    .company div {
        padding: 1rem;
        border-radius: 0.75rem;
        background: #F37125;
        color: #fff;
        box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.25);
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .company p {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 0.9rem;
    }

    section:first-child {
        padding-bottom: 5rem;
    }

    @media screen and (max-width: 767px) {
        .banner-wrapper {
            height: 200px;
    }

    header {
        position: fixed;
    }
    }

    @media screen and (max-width: 1247px) {
        .texts {
            max-width: 784px;
            width: 100%;
    }

    .img {
        order: 1;
        width: 790px;
        margin-bottom: 1.5rem;
    }

    .container > p {
        max-width: 784px;
        width: 100%;
        margin: 0 auto 1rem;
    }

    .container > p:last-child {
        padding-bottom: 3rem;
    }
    }

    @media screen and (max-width: 425px) {
        .banner-wrapper {
            height: 200px;
            background-image: url("../images/pngs/about-me-banner-mobile.png");
    }

    h1 {
            padding: 1rem 3rem;
    }

    .company h3 {
            font-size: 1rem;
        }

    .company p {
            font-size: 0.8rem !important;
        }
    }

    @media screen and (max-width: 1023px) {
        .companies-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .company {
            flex-direction: row;
            height: 127px;
            width: 327px;
            text-align: left;
            gap: 1rem;
            justify-content: start;
        }

        .company div {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .company img {
            padding-right: 0;
        }
    }
</style>

<script>
    const cardContainer = document.querySelector('.companies-wrapper');
const cards = document.querySelectorAll('.company');
const cardWidth = cards[0].getBoundingClientRect().width;

function scrollToLastCard() {
  cardContainer.scrollLeft = (cards.length - 1) * cardWidth;
}

function scrollBack() {
  cardContainer.scrollLeft = 0;
}

setInterval(() => {
  scrollToLastCard();
  setTimeout(scrollBack, 2500);
}, 4500);

const navLinks = document.querySelectorAll('.nav-item');
			const setCurrentNavLink = () => {
			const currentUrl = window.location.href;
			navLinks.forEach((link) => {
				if (link.href == currentUrl) {
				link.classList.add('active');
				} else {
				link.classList.remove('active');
				}
			});
			};
			document.addEventListener('DOMContentLoaded', setCurrentNavLink);

</script>
