---
import Layout from "../layouts/Layout.astro";
import aboutImgOne from "../images/pngs/home-about-img1.png";
import aboutImgTwo from "../images/pngs/home-about-img2.png";
import aboutImgThree from "../images/pngs/home-about-img3.png";
import Facebook from "../images/svgs/facebook.svg"
import Linkedin from "../images/svgs/linkedin.svg"
import Instagram from "../images/svgs/instagram.svg"
import Tiktok from "../images/svgs/tiktok.svg"
import Dot from "../images/pngs/squared-dots.png"
import Card from "../components/Card.astro";

const pressArticles = [
	{
		img: "img1",
		title: "'African luxury market has benefitted immensely from the rise of e-commerce'",
		body: "Her work experience has spanned the banking, oil and gas, and shipping industries before deciding to follow her passion for fashion and founded FH Luxury 2012, one of Nigeria’s leading luxury retailer brands. In this interview with TOBI AWODIPE, Abisola, who is positioning her outfit to be Africa’s foremost luxury brand, spoke on Nigeria’s emerging luxury market and how young people are driving the trend.",
		author: "Tobi Awodipe",
		date: "Feb 16, 2019",
		href: "/press",
		mobileBody:
			"Her work experience has spanned thebanking, oil and gas, and shipping industries before deciding to follow her passion for fashion ...",
	},
	{
		img: "img2",
		title: "Abisola Kola-Daisi Takes Husband’s Campaign To Some Major Markets In Ibadan",
		body: "At the markets, Abisola Kola-Daisi told the traders that her husband was ready to serve the people and provide unprecedented good representation.",
		author: "Kazeem Awojoodu",
		date: "Feb 23, 2023",
		href: "/press",
		mobileBody:
			"At the markets, Abisola Kola-Daisi told the traders that her husband ...",
	},
	{
		img: "img3",
		title: "Inside the luxurious lifestyle of Oyo state Governor's daughter Abisola Kola-Daisi (photos)",
		body: "The beautiful daughter of Oyo state Governor Abiola Ajimobi, can be described as one expensive stylish diva to look out when it comes to fashion. Identified as, Abisola Kola-Daisi, it is safe to say that she is following her mother’s fashionable footsteps.",
		author: "Adunni Amodeni",
		date: "April 11, 2018",
		href: "/press",
		mobileBody:
			"The beautiful daughter of Oyo state Governor Abiola Ajimobi, can be ....",
	},
];
---

<Layout title="Abisola | Homepage">
	<main>
		<section id="home">
			<div class="carousel-container">
				<img width="215px" src={Dot} alt="" class="dots">
				<div class="carousel-slide slide-one"></div>
				<div class="carousel-slide slide-two"></div>
			</div>
			<div class="container">
				<div class="home-content">
					<div class="carousel-indicators">
						<button aria-label="carousel button selector" type="button" class="gold"></button>
						<button aria-label="carousel button selector" type="button" class="pink"></button>
						<button aria-label="carousel button selector" type="button"></button>
						<button aria-label="carousel button selector" type="button"></button>
						<button aria-label="carousel button selector" type="button"></button>
					</div>
					<div class="home-texts">
						<div>
							<h1>Abisola Kola-Daisi</h1>
							<p>
								A Nigerian-Lebanese Luxury Retail Entrepreneur
								and Philanthropist
							</p>
						</div>
						<a href="#about-section" class="mouse"></a>
					</div>
					<div class="side-socials">
						<p>follow me on:</p>
						<div>
							<a href="https://www.facebook.com/abisolakoladaisi">
							<img width="20px" src={Facebook} alt="Facebook" />
							</a>
							<a href="https://www.linkedin.com/in/abisola-kola-daisi-9b1b1b1b/">
							<img width="20px" src={Linkedin} alt="Linkedin" />
							</a>
							<a href="https://www.instagram.com/abi_kd/">
								<img width="20px" src={Instagram} alt="Instagram" />
							</a>
							<a href="https://www.tiktok.com/@abi_kd?lang=en">
								<img width="20px" src={Tiktok} alt="Tiktok" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="about-section">
			<div class="container">
				<div class="about-me_wrapper">
					<div class="about-me_imgs">
						<img src={aboutImgOne} alt="a smiling woman" />
						<img src={aboutImgTwo} alt="a smiling woman" />
						<img src={aboutImgThree} alt="a smiling woman" />
					</div>
					<div class="about-me_texts">
						<div class="about-me_heading">
							<h2>About Me</h2>
							<span></span>
						</div>
						<p>
							Abisola Kola-Daisi is a highly successful
							Nigerian-Lebanese entrepreneur known for her
							contributions to the luxury retail industry and
							philanthropic endeavors. As the Managing Director of
							Grandex Nigeria Ltd, a renowned retail and wholesale
							chain specializing in Nigeria's heritage fast-moving
							consumer goods (FMCGs) since 1984, she has played a
							significant role in the growth and development of
							the company. In addition, Abisola is the founder and
							CEO of Florence H Luxury, a leading luxury retail
							fashion brand in Nigeria. Her keen business acumen
							and passion for fashion have driven her success and
							positioned her as a prominent figure in the
							industry.
						</p>
						<p>
							Abisola's work experience has spanned the banking,
							oil and gas and shipping sectors. Her
							entrepreneurial journey began in 2008 when she
							worked as the General Manager of Finance and
							Administration at Saje Shipping, a subsidiary of MRS
							Oil Nigeria Plc, before transitioning into the world
							of fashion in 2012. It was then that she founded
							Florence H Luxury, a multi-brand luxury boutique
							that quickly gained recognition as one of Nigeria's
							foremost luxury retail brands. The success of
							Florence H Luxury propelled Abisola to the forefront
							of the Nigerian fashion scene.
						</p>
					</div>
				</div>
				<a href="/about-me">Learn More</a>
			</div>
		</section>
		<section id="press">
			<div class="container">
				<h2>Press</h2>
				<div class="press-card_wrapper">
					{
						pressArticles.map((article) => (
							<Card
								title={article.title}
								body={article.body}
								author={article.author}
								date={article.date}
								href={article.href}
								mobileBody={article.mobileBody}
								img={article.img}
								textColor="white"
							/>
						))
					}
				</div>
				<p class="explore-link"><a href="/press">Explore More</a></p>
			</div>
		</section>
	</main>
</Layout>

<style>
	#home {
		min-height: 100vh;
	}

	div.home-content {
		min-height: 100vh;
		display: flex;
    justify-content: space-between;
    align-items: end;
	z-index: 5;
	}

	.home-texts {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		text-align: center;
	}

	.home-texts div:first-child {
		padding-bottom: 17%;
	}

	h1 {
		font-size: clamp(2.4rem, 5vw, 6rem);
		font-weight: 700;
		font-family: 'EB Garamond', sans-serif;
		line-height: 0.8;
		margin-bottom: 3rem;
	}

	h1::after {
		content: '';
		display: block;
		width: 120px;
		height: 6px;
		border-radius: 4px;
		background: #A69A85;
		margin: 1rem auto;
		transition: all 0.8s ease-in-out;
	}

	h1.white::after {
		background: #fff;
	}

	.home-texts p {
		font-weight: 500;
		font-size: 1.2rem;
	}

	.mouse {
		width: 15px;
		height: 35px;
		border-radius: 24px;
		border: 2px solid #404040;
		transform: translateY(-12px);
	}

	.mouse::before {
		content: '';
		position: absolute;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: #404040;
		top: 5px;
		left: 50%;
		transform: translateX(-50%);
		animation: scroll 1.2s infinite;
	}

	@keyframes scroll {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
			top: 20px;
		}
	}

	.carousel-container {
		position: absolute;
		width: 100%;
		min-height: 100vh;
		top: 0;
		left: 0;
		overflow: hidden;
		transition: opacity 1s ease;
	}

	.carousel-slide {
		position: absolute;
		width: 100%;
		min-height: 100vh;
		top: 0;
		left: 0;
		opacity: 0;
		background-repeat: no-repeat;
		background-size: cover;
		/* background-position: -12rem 100%; */
		background-position: left 30% bottom 0%;
		transition: opacity 1s ease;
	}

	.slide-one {
		background-image: url('../images/pngs/slide-1.png');
	}

	.slide-two {
		background-image: url('../images/pngs/slide-2.png');
	}

	.carousel-slide.active {
		opacity: 1;
	}

	.carousel-indicators {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 13px;
		gap: 0.5rem;
		transform: translateY(-30px);
		align-items: center;
	}

	.dots {
		position: absolute;
		bottom: 0;
		left: 30%;
		z-index: 2;
	}

	.carousel-indicators button {
		border: none;
		background-color: #fff;
		border: 1px solid #868686;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		margin: 0 5px;
		cursor: pointer;
		transition: all 1s ease;
	}

	.carousel-indicators button.active {
		border: 2px solid #565656;
		background-color: #FBEEC1;
		transition: all 0.15s ease;
	}

	.carousel-indicators button.pink.active {
		background-color: #F989E3;
	}

	.side-socials {
		display: flex;
		flex-direction: column;
		transform: translateY(-30px);
	}

	.side-socials p {
		position: absolute;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.2rem;
		left: -157px;
    	top: -11.2rem;
		display: flex;
    align-items: center;
    justify-content: center;
	width: 330px;
	}

	.side-socials p::after {
		content: '';
		display: inline-block;
		width: 150px;
		height: 2px;
		background-color: #404040;
		margin-left: 0.8rem;
	}

	.side-socials p, .side-socials span {
		transform: rotate(90deg);
	}

	.side-socials div {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	#about-section {
		padding: 8rem 0;
	}
	#about-section p {
		font-size: 1rem;
		color: #404040;
		margin-bottom: 1rem;
	}

	div.about-me_wrapper {
		display: flex;
		gap: 3rem;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	div.about-me_imgs {
		max-width: 490px;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.35rem;
		margin: 0 auto;
	}

	div.about-me_imgs img:first-child {
		grid-column: span 2;
	}

	div.about-me_imgs img:not(:first-child) {
		grid-column: span 1;
	}

	div.about-me_texts {
		max-width: 560px;
		margin: 0 auto;
		width: 100%;
	}

	div.about-me_heading {
		display: flex;
		gap: 0.7rem;
		align-items: center;
	}

	div.about-me_heading span {
		display: inline-block;
		height: 3px;
		border-radius: 5px;
		width: 50px;
		background-color: #ccbea3;
	}

	#about-section a {
		font-family: "EB Garamond", sans-serif;
		position: absolute;
		right: 0;
		bottom: 0;
		border-bottom: 3px solid #ccbea3;
		transition: all 0.25s ease-in-out;
		font-weight: 600;
		font-size: 1.2rem;
	}

	#about-section a:hover {
		border-color: transparent;
	}

	#press {
		background-color: #404040;
		padding: 3rem 0 2rem;
	}

	#press h2 {
		color: #fff;
		text-align: center;
		margin-bottom: 2.5rem;
	}

	#press h2::after {
		content: "";
		position: absolute;
		bottom: 0px;
		width: 46px;
		height: 3px;
		border-radius: 2px;
		left: 50%;
		transform: translateX(-50%);
		background: #fff;
	}

	.press-card_wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 2rem;
	}

	.explore-link {
		text-align: right;
		color: #fff;
		margin-top: 1.8rem;
	}

	.explore-link a {
		color: #fff;
		font-family: "EB Garamond", sans-serif;
		border-bottom: 3px solid #fff;
		transition: all 0.25s ease-in-out;
		font-weight: 600;
		font-size: 1.2rem;
	}

	.explore-link a:hover {
		border-color: transparent;
	}

	@media screen and (max-width: 768px) {
		.carousel-slide, .carousel-slide.slide-two.active {
			/* background-position: -20rem 100%;
			 */
		}
	}

	@media screen and (max-width: 767px) {

		h1::after {
			margin: 1.8rem auto 0;
			background-color: #FBEEC1;
		}

		.slide-one {
			background-image: url('../images/pngs/slide-1-mobile.png');
		}

		.slide-two {
			background-image: url('../images/pngs/slide-2-mobile.png');
		}

		.dots {
			display: none;
		}
	}

	@media screen and (max-width: 1171px) {
		div.press-card_wrapper {
			justify-content: center;
		}
	}

	@media screen and (max-width: 1219px) {
		div.about-me_texts {
			order: -1;
		}

		#about-section a {
			right: 50%;
			bottom: -71px;
			transform: translateX(55%);
		}
	}

	@media screen and (max-width: 426px) {
		#about-section a {
			right: 0;
			bottom: -51px;
			transform: translateX(0);
		}

		.home-texts {
			height: 91vh;
		}

		h1 {
			margin-bottom: 0.5rem;
		}

		h1.white::after {
			background-color: #A69A85;
		}

		.home-texts p {
			font-size: 1.06rem !important;
		}

		.side-socials p {
			top: -8.2rem;
		}

		.side-socials p::after {
			width: 90px;
		}

		.carousel-slide {
			background-size: contain;
		}
	}
</style>

<script>
	const slideImages = document.querySelectorAll(".carousel-slide");
	const indicatorsContainer = document.querySelector(".carousel-indicators");

	let currentIndex = 0;

	function showSlide(index) {
		slideImages.forEach((img, i) => {
			img.classList.toggle("active", i === index);
			const h1 = document.querySelector('h1').classList
			if(index == '0') {
				h1.remove("white");
			} else {
				h1.add("white");
			}
		});
	}

	function updateIndicator(index) {
		const indicators = indicatorsContainer.querySelectorAll("button");
		indicators.forEach((indicator, i) => {
			indicator.classList.toggle("active", i === index);
		});
	}

	function nextSlide() {
		currentIndex = (currentIndex + 1) % slideImages.length;
		showSlide(currentIndex);
		updateIndicator(currentIndex);
	}

	function prevSlide() {
		currentIndex =
			(currentIndex - 1 + slideImages.length) % slideImages.length;
		showSlide(currentIndex);
		updateIndicator(currentIndex);
	}

	slideImages[currentIndex].classList.add("active");

	slideImages.forEach(() => {
		const indicator = document.createElement("button");
		indicatorsContainer.appendChild(indicator);
	});

	const indicators = indicatorsContainer.querySelectorAll("button");
	indicators[currentIndex].classList.add("active");

	indicators.forEach((indicator, index) => {
		indicator.addEventListener("click", () => {
			currentIndex = index;
			showSlide(currentIndex);
			updateIndicator(currentIndex);
		});
	});

	setInterval(nextSlide, 3000);
</script>
