---
import pressImgOne from '../images/pngs/press-img1.png'
import pressImgTwo from '../images/pngs/press-img2.png'
import pressImgThree from '../images/pngs/press-img3.png'
export interface Props {
	title: string;
	body: string;
	href: string;
	author: string;
	date: string;
	img: string;
}
const { href, title, body, author, date, img } = Astro.props;
---


	<div>
		<img src={img == 'img1' ? pressImgOne : img == 'img2' ? pressImgTwo : pressImgThree} />
		<h4>{title}</h4>
		<p>{body}</p>
		<p class="publish-details"><span>By {author}</span><span>On {date}</span></p>
		<a href={href}>read now</a>
	</div>
<style>
	div {
		padding: 1rem;
		width: 30%;
		min-width: 330px;
		color: #fff;
		border: 3px solid transparent;
		transition: border-color 0.25s cubic-bezier(0.22, 1, 0.36, 1);
	}

	div:hover {
		border-color: #fff;
		cursor: pointer;
	}

	a {
		padding: 0.5rem 1rem;
		background-color: #fff;
		color: #2e2e2e;
		text-transform: capitalize;
		font-weight: 600;
		opacity: 0;
		transition: all 0.25 ease-in-out;
	}

	div:hover a {
		opacity: 1;
	}
	h4 {
		margin: 0.8rem 0 0.5rem;
		font-weight: 700;
		font-size: 1rem;
	}
	p {
		font-size: 0.9rem;
	}

	.publish-details {
		display: flex;
		margin: 0.5rem 0 0.9rem;
		font-weight: 600;
		font-size: 0.8rem !important;
		justify-content: space-between;
	}
</style>
